.admin-wrapper {
  display: flex;

  .admin-sidebar {
    width: 250px;
    height: 100vh;
    background-color: var(--bs-white);

    @media screen and (max-width: 991px) {
      width: 60px;
    }

    @media screen and (max-width: 576px) {
      width: 100%;
      position: fixed;
      top: 0;
      bottom: 0;
      left: -110%;
      transition: 0.3s all ease-in-out;
      z-index: 99999;

      &.active {
        left: 0;
        transition: 0.3s all ease-in-out;
      }

    }

    .admin-sidebar-header {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      .admin-sidebar-header-logo-no-responsive {
        padding: 5px;
        @media screen and (max-width: 991px) {
          display: none;
        }
        @media screen and (max-width: 576px) {
          display: block;
        }
      }

      .admin-sidebar-header-logo-responsive {
        padding: 5px;
        display: none;
        @media screen and (max-width: 991px) {
          display: inline-block;
        }
        @media screen and (max-width: 576px) {
          display: none;
        }
      }

      .admin-sidebar-close {
        display: none;
        padding: 5px;

        @media screen and (max-width: 576px) {
          display: inline-block;
        }

      }

    }

    .admin-sidebar-icon {
      margin-right: 5px;
    }

    .admin-sidebar-body {
      width: 100%;
      height: calc(100vh - 140px);
      padding: 10px;

      .admin-sidebar-body-link {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: var(--light-gray);
        transition: 0.3s all ease-in-out;
        margin-bottom: 5px;

        @media screen and (max-width: 991px) {
          padding: 10px;
          span {
            display: none;
          }
        }

        @media screen and (max-width: 576px) {
          padding: 10px 15px;
          span {
            display: inline;
          }
        }


        &:hover, &.active {
          box-shadow: 0 0 8px 0 var(--bs-border-color) inset !important;
          transition: 0.3s all ease-in-out;
          background: var(--bs-light) !important;
          color: var(--theme) !important;
        }

      }

    }

    .admin-sidebar-footer {
      width: 100%;
      height: 70px;
      padding: 5px;
      .admin-sidebar-footer-link {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: var(--light-gray);
        padding: 10px 20px;
        border: none;
        outline: none;
        background-color: transparent;

        &:hover {
          box-shadow: 0 0 8px 0 var(--bs-border-color) inset !important;
          transition: 0.3s all ease-in-out;
          background: var(--bs-light) !important;
          color: var(--theme) !important;
        }

        @media screen and (max-width: 991px) {
          padding: 0;
          justify-content: center;
          span {
            display: none;
          }
        }

      }
    }

  }

  .admin-content {
    width: calc(100% - 250px);
    height: 100vh;

    @media screen and (max-width: 991px) {
      width: calc(100% - 60px);
    }

    @media screen and (max-width: 576px) {
      width: 100%;
    }

    .admin-content-header {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;

      .sidebar-toggle {
        display: none;

        @media screen and (max-width: 576px) {
          display: inline-block;
        }

      }

    }

    .admin-content-body {
      width: 100%;
      height: calc(100vh - 70px);
      background: var(--bs-light) !important;
      padding: 20px 30px;
      box-shadow: 0 0 8px 0 var(--bs-border-color) inset !important;
    }

  }

}
