<header class="header sticky-top">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/home" (click)="hideCollapse()">
        Angular
      </a>
      <button class="navbar-toggler" type="button" (click)="showCollapse()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item text-end d-inline-block d-lg-none">
            <button type="button" class="btn btn-close border-0 p-3 icon-close" (click)="hideCollapse()"></button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#resume" (click)="hideCollapse()">
              Resume
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about" (click)="hideCollapse()">
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact" (click)="hideCollapse()">
              Contact
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#blog" (click)="hideCollapse()">
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#service" (click)="hideCollapse()">
              Service
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
