<!-- Breadcrumb -->
<section class="py-5 w-100 bg-white">
  <div class="container">
    <div class="bg-light mb-4 height-300 w-100 d-flex justify-content-center align-items-center flex-column breadcrumb-content">
      <div class="fs-4 fw-medium text-center mb-2">
        Registration
      </div>
      <div class="d-flex justify-content-center align-items-center fw-medium">
        <a routerLink="/home" class="text-decoration-none text-dark mx-1">
          Home
        </a>
        <div class="mx-2">
          <i class="bi bi-dash-lg"></i>
        </div>
        <a routerLink="/registration" class="text-decoration-none text-theme mx-1">
          Registration
        </a>
      </div>
    </div>
  </div>
</section>
