<!-- Breadcrumb -->
<section class="py-5 w-100 bg-white">
  <div class="container">
    <div
      class="bg-light mb-4 height-300 w-100 d-flex justify-content-center align-items-center flex-column breadcrumb-content">
      <div class="fs-4 fw-medium text-center mb-2">
        Single Blog
      </div>
      <div class="d-flex justify-content-center align-items-center fw-medium">
        <a routerLink="/home" class="text-decoration-none text-dark mx-1">
          Home
        </a>
        <div class="mx-2">
          <i class="bi bi-dash-lg"></i>
        </div>
        <a routerLink="/blog" class="text-decoration-none text-dark mx-1">
          Blog
        </a>
        <div class="mx-2">
          <i class="bi bi-dash-lg"></i>
        </div>
        <a routerLink="/single-blog" class="text-decoration-none text-theme mx-1">
          Single Blog
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Single blog -->
<section class="w-100 py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <img src="/blogs/blog-10.jpg" class="w-100 height-400 object-fit-cover" alt="blog 10">
        <div class="fs-5 fw-medium text-light-gray mt-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Error, explicabo!
        </div>
        <div class="text-secondary mt-3 line-height-2">
          But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
          and I will give you a complete account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids
          pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure
          rationally encounter consequences that are extremely painful. Nor again is there anyone who loves
          or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
          circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial
          example,
        </div>
        <div class="text-secondary mt-3 line-height-2">
          which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who
          has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences,
          or one who avoids a pain that produces no resultant pleasure?”
        </div>
        <div class="text-secondary mt-3 line-height-2 border-start border-5 fs-6 p-3 bg-light">
          No one rejects, dislikes, or avoids pleasure itself, because it pleasure, but because those who do not
          know how to pursue pleasure ratinally encounter consequences that are.
        </div>
        <div class="text-secondary mt-3 line-height-2">
          But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
          and I will give you a complete account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness.
        </div>
        <div class="row mt-3">
          <div class="col-sm-6">
            <a routerLink="/single-blog">
              <img src="/blogs/blog-09.jpg" class="img-fluid object-fit-cover w-100 height-300" alt="blog 09">
            </a>
          </div>
          <div class="col-sm-6">
            <a routerLink="/single-blog">
              <img src="/blogs/blog-08.jpg" class="img-fluid object-fit-cover w-100 height-300" alt="blog 08">
            </a>
          </div>
        </div>
        <div class="text-secondary mt-3 line-height-2">
          But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
          and I will give you a complete account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness.
        </div>
        <div class="text-secondary mt-3 line-height-2">
          But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
          and I will give you a complete account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness.
        </div>
        <hr class="w-100 my-5">
        <form (submit)="blogReviewForm($event)" class="row mb-4">
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <label for="full-name" class="form-label">Full Name</label>
              <input id="full-name" type="text" [(ngModel)]="blogReviewParam.name" name="full-name" class="form-control" placeholder="( Required )" required autocomplete="new-full-name">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input id="email" type="email" [(ngModel)]="blogReviewParam.email" name="email" class="form-control" placeholder="( Required )" required autocomplete="new-email">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea id="message" [(ngModel)]="blogReviewParam.message" name="message" class="form-textarea" cols="30" rows="10" required autocomplete="new-message" placeholder="Write your interest..."></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <button type="submit" class="btn btn-outline-gray-theme rounded-0 width-120">
              SUBMIT
            </button>
          </div>
        </form>
        <hr class="w-100 my-5">
        <div class="mt-3 fw-medium fs-5">
          3 COMMENTS ON PRAISING PAIN WAS BORN AND I WILL GIVE
        </div>
        <div class="py-4 d-flex align-items-start justify-content-start border-bottom">
          <div>
            <div class="width-65 height-65 d-flex justify-content-center align-items-center bg-secondary-subtle rounded-3 fw-bold">
              MB
            </div>
          </div>
          <div class="ms-3">
            <div class="mb-1 fw-medium fs-5"> Mistaken </div>
            <div class="mb-2 text-secondary mb-2 small"> August 10, 2022 at 11:09 am </div>
            <div class="mb-2 text-secondary">
              mistaken explain to you how all this mistaken idea of denouncing pleas
              praising pain born and I will give you a complete account of the system
            </div>
            <button type="button" class="btn btn-outline-theme py-2 width-96 fw-medium rounded-pill">
              REPLY
            </button>
          </div>
        </div>
        <div class="py-4 d-flex align-items-start justify-content-start border-bottom">
          <div>
            <div class="width-65 height-65 d-flex justify-content-center align-items-center bg-secondary-subtle rounded-3 fw-bold">
              JS
            </div>
          </div>
          <div class="ms-3">
            <div class="mb-1 fw-medium fs-5"> Mistaken </div>
            <div class="mb-2 text-secondary mb-2 small"> August 10, 2022 at 11:09 am </div>
            <div class="mb-2 text-secondary">
              mistaken explain to you how all this mistaken idea of denouncing pleas
              praising pain born and I will give you a complete account of the system
            </div>
            <button type="button" class="btn btn-outline-theme py-2 width-96 fw-medium rounded-pill">
              REPLY
            </button>
          </div>
        </div>
        <div class="py-4 d-flex align-items-start justify-content-start border-bottom">
          <div>
            <div class="width-65 height-65 d-flex justify-content-center align-items-center bg-secondary-subtle rounded-3 fw-bold">
              IS
            </div>
          </div>
          <div class="ms-3">
            <div class="mb-1 fw-medium fs-5"> Mistaken </div>
            <div class="mb-2 text-secondary mb-2 small"> August 10, 2022 at 11:09 am </div>
            <div class="mb-2 text-secondary">
              mistaken explain to you how all this mistaken idea of denouncing pleas
              praising pain born and I will give you a complete account of the system
            </div>
            <button type="button" class="btn btn-outline-theme py-2 width-96 fw-medium rounded-pill">
              REPLY
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sticky-top z-0" style="top: 90px;">

          <div class="mb-3">
            <div class="position-relative">
              <input type="text" name="keyword" class="form-control ps-5" required autocomplete="new-keyword"
                     placeholder="Search here anything">
              <div class="position-absolute top-50 start-0 translate-middle-y ps-3">
                <i class="bi bi-search text-light-gray"></i>
              </div>
            </div>
          </div>

          <div class="border bg-white px-4 pb-2 mb-3">
            <div class="fs-5 fw-medium mt-3"> Categories </div>
            <a href="javascript:void(0)"
               class="text-decoration-none text-light-gray-hover d-flex justify-content-between align-items-center my-3">
              <span> Business Advise </span> <span> (02) </span>
            </a>
            <a href="javascript:void(0)"
               class="text-decoration-none text-light-gray-hover d-flex justify-content-between align-items-center my-3">
              <span> Web Design </span> <span> (05) </span>
            </a>
            <a href="javascript:void(0)"
               class="text-decoration-none text-light-gray-hover d-flex justify-content-between align-items-center my-3">
              <span> Development </span> <span> (10) </span>
            </a>
            <a href="javascript:void(0)"
               class="text-decoration-none text-light-gray-hover d-flex justify-content-between align-items-center my-3">
              <span> Video Editing </span> <span> (03) </span>
            </a>
            <a href="javascript:void(0)"
               class="text-decoration-none text-light-gray-hover d-flex justify-content-between align-items-center my-3">
              <span> UI/UX Design </span> <span> (07) </span>
            </a>
          </div>

          <div class="border bg-white px-4 mb-3">
            <div class="fs-5 fw-medium my-3"> Photo Gallery </div>
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-2 row-cols-lg-3 px-2 mb-3">
              <div class="p-1">
                <a href="javascript:void(0)" class="p-1">
                  <img src="/blogs/blog-05.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
                </a>
              </div>
              <div class="p-1">
                <a href="javascript:void(0)" class="p-1">
                  <img src="/blogs/blog-06.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
                </a>
              </div>
              <div class="p-1">
                <a href="javascript:void(0)" class="p-1">
                  <img src="/blogs/blog-07.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
                </a>
              </div>
              <div class="p-1">
                <a href="javascript:void(0)" class="p-1">
                  <img src="/blogs/blog-08.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
                </a>
              </div>
              <div class="p-1">
                <a href="javascript:void(0)" class="p-1">
                  <img src="/blogs/blog-09.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
                </a>
              </div>
              <div class="p-1">
                <a href="javascript:void(0)" class="p-1">
                  <img src="/blogs/blog-10.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
                </a>
              </div>
            </div>
          </div>

          <div class="border bg-white px-4 mb-3">
            <div class="fs-5 fw-medium my-3"> Tags </div>
            <div class="mb-3">
              <a href="javascript:void(0)" class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
                Business Advise
              </a>
              <a href="javascript:void(0)" class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
                Web Design
              </a>
              <a href="javascript:void(0)" class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
                Development
              </a>
              <a href="javascript:void(0)" class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
                Video Editing
              </a>
              <a href="javascript:void(0)" class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
                UI/UX Design
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
