$loop-limit: 1200;

$pixel-value: 1px;
$font-size: 1px;

@for $i from 1 through $loop-limit {

  .width-#{$i} {
    width: $pixel-value * $i !important;
  }

  .height-#{$i} {
    height: $pixel-value * $i !important;
  }

  .height-calc-#{$i} {
    height: calc(100vh - ($pixel-value * $i)) !important;
  }

  .font-size-#{$i} {
    font-size: $font-size * $i !important;
  }

}
