<section class="height-calc-70 w-100 bg-white" id="about">
  <div class="container">

    <div class="text-theme fs-6 mb-3">
      ABOUT ME
    </div>

    <div class="text-light-gray mb-3 fs-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloremque, ducimus itaque magnam officia possimus
      quos! Accusamus asperiores atque culpa dicta dignissimos,
    </div>

    <div class="row">
      <div class="col-lg-8">

        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="fw-semibold mb-1">
              Company Name:
            </div>
            <div class="text-secondary">
              {{ userCompany }}
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="fw-semibold mb-1">
              Educational Qualification
            </div>
            <div class="text-secondary">
              {{ userEducationalQualification }}
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="fw-semibold mb-1">
              Experience in programming Language
            </div>
            <div class="text-secondary">
              {{ userProgrammingExperience }}
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="fw-semibold mb-1">
              Experience in framework development
            </div>
            <div class="text-secondary">
              {{ userFrameworkDevelopment }}
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="fw-semibold mb-1">
              Full Name:
            </div>
            <div class="text-secondary">
              {{ userName }}
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="fw-semibold mb-1">
              Email:
            </div>
            <a href="mailto:{{ userEmail }}" class="text-secondary d-block">
              {{ userEmail }}
            </a>
          </div>
          <div class="col-md-6 mb-3">
            <div class="fw-semibold mb-1">
              Phone Number:
            </div>
            <a href="tel:{{ userPhoneNumber }}" class="text-secondary">
              {{uniqueNumber}} {{ userPhoneNumber }}
            </a>
          </div>
          <div class="col-md-6 mb-3">
            <div class="fw-semibold mb-1">
              Present Address:
            </div>
            <div class="text-secondary">
              {{ userPresentAddress }}
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="fw-semibold mb-1">
              Projects:
            </div>
            <div class="text-secondary d-flex justify-content-start align-items-center flex-wrap gap-3">
              <a href="https://education.thethemeai.com/user/home" class="btn btn-outline-theme rounded-0">
                Education
              </a>
              <a href="https://mimosa.thethemeai.com/user/home" class="btn btn-outline-theme rounded-0">
                Dress
              </a>
              <a href="https://materio.thethemeai.com/home" class="btn btn-outline-theme rounded-0">
                Food
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4">

        <div class="mb-3">
          <div class="fw-semibold mb-1">
            My Ambition
          </div>
          <div class="text-secondary">
            Expert in Full Stack Web Development. Research and development in new journey with experience. Need
            more experience more of end life with new experience.
          </div>
        </div>

        <div class="mb-3">
          <div class="fw-semibold mb-1">
            My Purpose
          </div>
          <div class="text-secondary">
            Problem solving, use to easy application, provide security from fraud. Business clear vision and mission.

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
