<!-- Breadcrumb -->
<section class="py-5 w-100 bg-white">
  <div class="container">
    <div
      class="bg-light mb-4 height-300 w-100 d-flex justify-content-center align-items-center flex-column breadcrumb-content">
      <div class="fs-4 fw-medium text-center mb-2">
        Shop
      </div>
      <div class="d-flex justify-content-center align-items-center fw-medium">
        <a routerLink="/home" class="text-decoration-none text-dark mx-1">
          Home
        </a>
        <div class="mx-2">
          <i class="bi bi-dash-lg"></i>
        </div>
        <a routerLink="/shop" class="text-decoration-none text-theme mx-1">
          Shop
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Shop -->
<section class="pb-5 w-100 bg-white">
  <div class="container">

    <div class="row">

      <div class="col-lg-8">

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">

          <div class="p-3 background-effect" *ngFor="let item of productList">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img [src]="item.productImage" class="img-fluid object-fit-cover height-350 w-100" alt="product-02">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
                <div class="position-absolute top-0 end-0 p-1">
                  <button type="button" class="btn border-0">
                    <i class="bi bi-heart text-theme fs-3"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              {{item.productName}}
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              ${{item.productPrice}}
            </div>
          </div>

        </div>

        <div class="p-3 w-100 border-top border-bottom mt-5">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <nav aria-label="Page navigation example" class="front-pagination">
                <div class="pagination">
                  <div class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      1
                    </a>
                  </div>
                  <div class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      2
                    </a>
                  </div>
                  <div class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      3
                    </a>
                  </div>
                  <div class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="bi bi-chevron-right"></i>
                    </a>
                  </div>
                </div>
              </nav>
            </div>
            <div class="text-light-gray">
              1 - 30 of 30
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4">

        <app-side-content-product/>

      </div>
    </div>
  </div>
</section>
