<!-- slider owl carousel -->
<section class="w-100 py-3 py-md-5">
  <div class="container">
    <owl-carousel-o [options]="bannerOwlCarousel" class="banner-owl-carousel">
      <ng-template carouselSlide class="item position-relative">
        <img src="/banner/banner-2.jpg" alt="banner 2">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-start align-items-center">
          <div class="p-3 p-sm-5">
            <div class="fs-3 fw-bold mb-3">
              Women’s <br> Lookbook Clothes
            </div>
            <div class="fs-5 fw-medium text-secondary mb-3 col-8 col-md-10">
              Discover the collection as styled by fashion icon Caroline Issa in our new season
              campaign.
            </div>
            <a routerLink="/shop" class="btn btn-outline-dark px-4 py-2 rounded-0">
              Read more
            </a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide class="item position-relative">
        <img src="/banner/banner-1.jpg" alt="banner 2">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-start align-items-center">
          <div class="p-3 p-sm-5">
            <div class="fs-3 fw-bold mb-3">
              Male’s <br> Lookbook Clothes
            </div>
            <div class="fs-5 fw-medium text-secondary mb-3 col-8 col-md-10">
              Discover the collection as styled by fashion icon Caroline Issa in our new season
              campaign.
            </div>
            <a routerLink="/shop" class="btn btn-outline-dark px-4 py-2 rounded-0">
              Read more
            </a>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<!-- collection content -->
<section class="w-100 pb-3 pb-md-5">
  <div class="container">
    <div class="row px-1">
      <div class="col-md-6 col-lg-4 p-0">
        <div class="p-2 background-effect">
          <div class="position-relative">
            <div class="overflow-hidden">
              <img src="/collection/collection-1.jpg" class="img-fluid object-fit-cover scale-effect" alt="collection 1">
            </div>
            <div class="position-absolute bottom-0 start-0 p-4">
              <div class="fs-5 fw-bold mb-2">
                For Men <br> Clothing Originals
              </div>
              <a routerLink="/shop" class="text-decoration-none text-light-gray-hover">
                View collection
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 p-0">
        <div class="p-2 background-effect">
          <div class="position-relative">
            <div class="overflow-hidden">
              <img src="/collection/collection-2.jpg" class="img-fluid object-fit-cover scale-effect" alt="collection 2">
            </div>
            <div class="position-absolute bottom-0 start-0 p-4">
              <div class="fs-5 fw-bold mb-2">
                For Women <br> Summer Collection
              </div>
              <a routerLink="/shop" class="text-decoration-none text-light-gray-hover">
                View collection
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 p-0">
        <div class="p-2 background-effect">
          <div class="position-relative">
            <div class="overflow-hidden">
              <img src="/collection/collection-3.jpg" class="img-fluid object-fit-cover scale-effect" alt="collection 3">
            </div>
            <div class="position-absolute bottom-0 start-0 p-4">
              <div class="fs-5 fw-bold mb-2">
                Accessories <br> Handbag Collection
              </div>
              <a routerLink="/shop" class="text-decoration-none text-light-gray-hover">
                View collection
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- collection content -->
<section class="w-100 pb-3 pb-md-5">
  <div class="container">

    <div class="text-center">
      <div class="fs-3 fw-bold mb-3"> Most Viewed Products</div>
      <div class="row justify-content-center mb-3">
        <div class="text-secondary col-md-8 col-lg-6">
          Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas.
        </div>
      </div>
    </div>

    <div class="d-none d-md-flex justify-content-center align-items-center mb-4 flex-wrap">
      <button type="button" class="btn bg-dark text-white border border-dark px-4 py-2 rounded-0 mx-1 my-1">
        Clothing
      </button>
      <button type="button" class="btn bg-secondary-subtle text-dark border px-4 py-2 rounded-0 mx-1 my-1">
        HandBags
      </button>
      <button type="button" class="btn bg-secondary-subtle text-dark border px-4 py-2 rounded-0 mx-1 my-1">
        Shoes
      </button>
      <button type="button" class="btn bg-secondary-subtle text-dark border px-4 py-2 rounded-0 mx-1 my-1">
        Accessories
      </button>
    </div>

    <div class="w-100 d-block d-md-none">
      <select name="feature-category" class="form-select">
        <option value="clothing">Clothing</option>
        <option value="handbags">HandBags</option>
        <option value="shoes">Shoes</option>
        <option value="accessories">Accessories</option>
      </select>
    </div>

    <owl-carousel-o [options]="mostViewProductOwlCarousel" class="banner-owl-carousel">
      <ng-template carouselSlide *ngFor="let item of mostViewProductList">
        <div class="p-2">
          <div class="background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img [src]="item.productImage" class="img-fluid object-fit-cover height-350 w-100"
                     alt="{{ item.productName }}">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
                <div class="position-absolute top-0 end-0 p-1">
                  <button type="button" class="btn border-0">
                    <i class="bi bi-heart text-theme fs-5"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              {{item.productName}}
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $ {{item.productPrice}}
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>

  </div>
</section>

<!-- scroll background -->
<section class="w-100 pb-3 pb-md-5">
  <div class="background-scroll py-5">
    <div class="container">
      <div class="py-5 d-flex justify-content-center align-items-center flex-column text-center">
        <div class="mb-3">
          <img src="/avatar/testimonial-avatar.webp" class="img-fluid object-fit-cover" alt="testimonial-avatar">
        </div>
        <div class="col-md-8 col-lg-6 text-secondary mb-2">
          Mauris blandit, metus a venenatis lacinia, felis enim tincidunt est, condimentum vulputate orci augue eu
          metus.
          Fusce dictum, nisi et semper ultricies, felis tortor blandit odio, egestas consequat pur..
        </div>
        <i class="bi bi-quote fs-3 text-secondary"></i>
        <div class="fw-bold text-center fs-6 text-secondary">
          Nathanael Jaworski
        </div>
      </div>
    </div>
  </div>
</section>

<!-- New arrival content -->
<section class="w-100 pb-3 pb-md-5">
  <div class="container">

    <div class="text-center">
      <div class="fs-3 fw-bold mb-3"> Latest Arrivals</div>
      <div class="row justify-content-center mb-3">
        <div class="text-secondary col-md-8 col-lg-6">
          Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas.
        </div>
      </div>
    </div>

    <owl-carousel-o [options]="latestArrivalProductOwlCarousel" class="banner-owl-carousel">
      <ng-template carouselSlide *ngFor="let item of latestArrivalProductList">
        <div class="p-2">
          <div class="background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img [src]="item.productImage" class="img-fluid object-fit-cover height-350 w-100"
                     alt="{{ item.productName }}">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
                <div class="position-absolute top-0 end-0 p-1">
                  <button type="button" class="btn border-0">
                    <i class="bi bi-heart text-theme fs-5"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              {{item.productName}}
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $ {{item.productPrice}}
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>

  </div>
</section>

<!-- boxes content -->
<section class="w-100 pb-3 pb-md-5">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-4">
        <div class="w-100 d-flex justify-content-center align-items-center flex-column p-3 border">
          <div class="mb-3">
            <img src="/box/icon-1.webp" class="width-65 height-65" alt="icon 1">
          </div>
          <div class="fw-bold fs-5 text-center mb-3">
            Free Shipping Worldwide
          </div>
          <div class="text-center text-secondary truncate-to-3-line">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus
            eos iure recusandae sint? Adipisci, at deserunt eos inventore iure magni!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="w-100 d-flex justify-content-center align-items-center flex-column p-3 border">
          <div class="mb-3">
            <img src="/box/icon-2.webp" class="width-65 height-65" alt="icon 2">
          </div>
          <div class="fw-bold fs-5 text-center mb-3">
            Money Back Guarantee
          </div>
          <div class="text-center text-secondary truncate-to-3-line">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus
            eos iure recusandae sint? Adipisci, at deserunt eos inventore iure magni!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="w-100 d-flex justify-content-center align-items-center flex-column p-3 border">
          <div class="mb-3">
            <img src="/box/icon-3.webp" class="width-65 height-65" alt="icon 3">
          </div>
          <div class="fw-bold fs-5 text-center mb-3">
            Online Support 24/7
          </div>
          <div class="text-center text-secondary truncate-to-3-line">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus
            eos iure recusandae sint? Adipisci, at deserunt eos inventore iure magni!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- from our blog -->
<section class="w-100 pb-3 pb-md-5">
  <div class="container">
    <div class="text-center">
      <div class="fs-3 fw-bold mb-3"> From Our Blog</div>
      <div class="row justify-content-center mb-4">
        <div class="text-secondary col-md-8 col-lg-6">
          Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas.
        </div>
      </div>
    </div>

    <owl-carousel-o [options]="blogOwlCarousel" class="banner-owl-carousel">
      <ng-template carouselSlide *ngFor="let item of blogList">
        <div class="px-3">
          <div class="mb-3">
            <div class="position-relative">
            <div class="overflow-hidden background-effect">
              <img [src]="item.blogImage" class="img-fluid object-fit-cover w-100 height-250 scale-effect" alt="blog 1">
            </div>
              <div class="position-absolute top-0 end-0 p-3">
                <div class="bg-white shadow font-size-18 text-center px-3 py-2 h-auto">
                  AUG <br> 05
                </div>
              </div>
            </div>
          </div>
          <div class="truncate-to-1-line fw-bold fs-5">
            {{item.blogTitle}}
          </div>
          <div class="small text-secondary mt-2 fw-medium">
            {{item.blogAuthor}}
          </div>
          <div class="text-secondary text-opacity-75 mt-2 truncate-to-3-line">
            {{item.blogDescription}}
          </div>
          <div class="mt-2">
            <a routerLink="/single-blog" class="text-decoration-none text-light-gray-hover">
              Read more...
            </a>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>

  </div>
</section>
