.banner-owl-carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .owl-item {
    min-width: 100%;
    .banner-image {
      min-width: 100%;
      width: 100%;
      min-height: 650px !important;
      background-repeat: no-repeat;
      object-fit: cover;
    }
  }

}
