<!-- Breadcrumb -->
<section class="py-5 w-100 bg-white">
  <div class="container">
    <div
      class="bg-light mb-4 height-300 w-100 d-flex justify-content-center align-items-center flex-column breadcrumb-content">
      <div class="fs-4 fw-medium text-center mb-2">
        Single Product
      </div>
      <div class="d-flex justify-content-center align-items-center fw-medium">
        <a routerLink="/home" class="text-decoration-none text-dark mx-1">
          Home
        </a>
        <div class="mx-2">
          <i class="bi bi-dash-lg"></i>
        </div>
        <a routerLink="/shop" class="text-decoration-none text-dark mx-1">
          Shop
        </a>
        <div class="mx-2">
          <i class="bi bi-dash-lg"></i>
        </div>
        <a routerLink="/single-product" class="text-decoration-none text-theme mx-1">
          Single Product
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Single blog -->
<section class="w-100 py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img src="/shop/product-07.jpg" class="img-fluid object-fit-cover" alt="product 07">
        <div class="row row-cols-4 px-2">
          <div class="p-1">
            <img src="/shop/product-08.jpg" class="img-fluid object-fit-cover" alt="product 08">
          </div>
          <div class="p-1">
            <img src="/shop/product-09.jpg" class="img-fluid object-fit-cover" alt="product 09">
          </div>
          <div class="p-1">
            <img src="/shop/product-10.jpg" class="img-fluid object-fit-cover" alt="product 10">
          </div>
          <div class="p-1">
            <img src="/shop/product-11.jpg" class="img-fluid object-fit-cover" alt="product 11">
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="fs-5 fw-medium text-light-gray mb-3">
          Aopo Designs Woolrich Klettersack Backpack
        </div>
        <div class="text-secondary mb-3">
          $122.00
        </div>
        <div class="text-secondary mb-3">
          Mauris blandit, metus a venenatis lacinia, felis enim tincidunt est, condimentum vulputate orci augue
          eu metus. Fusce dictum, nisi et semper ultricies, felis tortor blandit odio, egestas consequat pur..
        </div>
        <div class="mb-3">
          <span class="text-secondary"> Ex Tax: </span>
          <span class="text-theme"> $100.00 </span>
        </div>
        <div class="mb-3">
          <span class="text-secondary"> Reward Points: </span>
          <span class="text-theme"> 200 </span>
        </div>
        <div class="mb-3">
          <span class="text-secondary"> Brands </span>
          <span class="text-theme"> Armani </span>
        </div>
        <div class="mb-3">
          <span class="text-secondary"> Product Code: </span>
          <span class="text-theme"> Product 1 </span>
        </div>
        <div class="mb-3">
          <span class="text-secondary"> Reward Points: </span>
          <span class="text-theme"> 400 </span>
        </div>
        <div class="mb-3">
          <span class="text-secondary"> Availability: </span>
          <span class="text-theme"> In Stock </span>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="color-availability" class="form-label"> Color Availability </label>
              <select name="color-availability" id="color-availability" class="form-select">
                <option value="black">Black</option>
                <option value="blue">Blue</option>
                <option value="pink">Pink</option>
                <option value="yellow">Yellow</option>
                <option value="green">Green</option>
                <option value="purple">Purple</option>
                <option value="red">Red</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="size-availability" class="form-label"> Size Availability </label>
              <select name="size-availability" id="size-availability" class="form-select">
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="S">S</option>
                <option value="XL">XL</option>
                <option value="XS">XS</option>
                <option value="XXL">XXL</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <button type="button" class="btn btn-outline-theme w-100 rounded-0"> Buy Now </button>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-outline-gray-theme w-100 rounded-0"> Add To Cart </button>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-outline-theme w-100 rounded-0"> Add To WishList </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- product description -->
<section class="w-100 py-5">
  <div class="container">
    <div class="fw-bold mb-2">Description</div>
    <div class="text-secondary text-opacity-75">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid assumenda atque dolorem doloribus
      ducimus ea earum eos excepturi expedita facere illo, iste laboriosam maxime mollitia nesciunt quaerat
      quis quo quod quos ratione reiciendis repellat reprehenderit repudiandae sunt tenetur ullam ut vel,
      veniam veritatis? Ad alias aliquid architecto assumenda commodi consequatur consequuntur cum dolor
      excepturi fugit illum laboriosam laborum libero maiores modi, nihil optio placeat quo rerum soluta <br><br>
      tempora tenetur vel voluptatum. Ab architecto blanditiis consequatur distinctio eligendi explicabo
      ipsa iste iusto maiores molestiae natus neque nobis porro quaerat quam qui reiciendis repudiandae,
      sapiente velit voluptate. Ab aspernatur assumenda autem, blanditiis cum dolores doloribus dolorum,
      error esse et hic in laboriosam magnam modi nihil praesentium quas quibusdam quidem repellendus
      repudiandae sit ullam vitae. A accusamus animi culpa cumque dicta distinctio dolorum ducimus ea <br><br>
      eum excepturi illum laboriosam minima numquam odit quia, quidem sit veniam. Ab consequuntur cupiditate
      ea, in labore placeat recusandae velit voluptates! Amet animi at dolor dolores, hic id neque nesciunt
      numquam obcaecati odio possimus quas rem sit, tempora voluptas voluptate voluptatem. Ad aliquid
      architecto culpa dolore dolorem dolores dolorum exercitationem facere impedit iusto, molestias nam
      nostrum nulla obcaecati perferendis quia quibusdam sapiente similique sit tempore unde ut.
    </div>
    <div class="col-lg-6">
      <hr class="w-100 my-5">
      <form class="row mb-4">
        <div class="col-lg-6">
          <div class="form-group mb-3">
            <label for="full-name" class="form-label">Full Name</label>
            <input id="full-name" type="text" name="full-name" class="form-control" placeholder="( Required )" required autocomplete="new-full-name">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" name="email" class="form-control" placeholder="( Required )" required autocomplete="new-email">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea id="message" name="message" class="form-textarea" cols="30" rows="10" required autocomplete="new-message" placeholder="Write your interest..."></textarea>
          </div>
        </div>
        <div class="col-lg-12">
          <button type="submit" class="btn btn-outline-gray-theme rounded-0 width-120">
            SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
