<!-- Breadcrumb -->
<section class="py-5 w-100 bg-white">
  <div class="container">
    <div class="bg-light mb-4 height-300 w-100 d-flex justify-content-center align-items-center flex-column breadcrumb-content">
      <div class="fs-4 fw-medium text-center mb-2">
        Contact
      </div>
      <div class="d-flex justify-content-center align-items-center fw-medium">
        <a routerLink="/home" class="text-decoration-none text-dark mx-1">
          Home
        </a>
        <div class="mx-2">
          <i class="bi bi-dash-lg"></i>
        </div>
        <a routerLink="/contact" class="text-decoration-none text-theme mx-1">
          Contact
        </a>
      </div>
    </div>
  </div>
</section>

<section class="py-5 w-100 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5">

        <!-- company location -->
        <div class="text-decoration-none overflow-hidden w-100 height-350">
          <div id="my-map-canvas" class="w-100 h-100">
            <iframe class="h-100 w-100 border-0" src="https://www.google.com/maps/embed/v1/place?q=Jessore+sadar,+Ideal+public+school+and+college&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
          </div>
        </div>

      </div>
      <div class="col-lg-6">

        <!-- Asking Question what you want -->
        <form (ngSubmit)="contactForm($event)" class="w-100 row">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="name" class="form-label">Name</label>
              <input id="name" type="text" name="name" [(ngModel)]="contactParam.name" class="form-control" required autocomplete="new-name" placeholder="( Required )">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input id="email" type="email" name="email" [(ngModel)]="contactParam.email" class="form-control" required autocomplete="new-email" placeholder="( Required )">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group mb-3">
              <label for="subject" class="form-label">Subject</label>
              <input id="subject" type="text" name="subject" [(ngModel)]="contactParam.subject" class="form-control" required autocomplete="new-subject" placeholder="( Required )">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea id="message" name="message" [(ngModel)]="contactParam.message" class="form-textarea" cols="30" rows="5" required autocomplete="new-message" placeholder="Write your interest..."></textarea>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-outline-theme rounded-0 width-110">
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="col-lg-6">

        <div class="fs-4 fw-medium mb-3"> Get In Touch </div>

        <!-- company information -->
        <div class="mb-3">
          <div class="fw-5 mb-3 fw-medium"> CONTACT INFO </div>
          <div class="text-secondary mb-3">
            <i class="bi bi-geo-alt me-2"></i>
            <span class="fw-medium"> Address: </span>
            <a href="https://www.google.com/maps" class="text-decoration-none text-light-gray-hover">
              {{ address }}
            </a>
          </div>
          <div class="text-secondary mb-3">
            <i class="bi bi-telephone me-2"></i>
            <span class="fw-medium"> Phone: </span>
            <a href="tel:{{phone}}" class="text-light-gray-hover"> +880 {{ phone }} </a>
          </div>
          <div class="text-secondary mb-3">
            <i class="bi bi-envelope me-2"></i>
            <span class="fw-medium"> Email: </span>
            <a href="mailto:{{email}}" class="text-light-gray-hover"> {{ email }} </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
