<!--*-*-*-*-*-*-*-*-*-*-* Start angular project *-*-*-*-*-*-*-*-*-*-*-->

  <!--*-*-*-*-*-*-*-*-*-*-* Start header *-*-*-*-*-*-*-*-*-*-*-->
  <app-header/>
  <!--*-*-*-*-*-*-*-*-*-*-* End header *-*-*-*-*-*-*-*-*-*-*-*-->

    <!--*-*-*-*-*-*-*-*-*-*-* Start outlet *-*-*-*-*-*-*-*-*-*-*-->
    <router-outlet/>
    <!--*-*-*-*-*-*-*-*-*-*-* End outlet *-*-*-*-*-*-*-*-*-*-*-*-->

  <!--*-*-*-*-*-*-*-*-*-*-* Start footer *-*-*-*-*-*-*-*-*-*-*-->
  <app-footer/>
  <!--*-*-*-*-*-*-*-*-*-*-* End footer *-*-*-*-*-*-*-*-*-*-*-*-->

<!--*-*-*-*-*-*-*-*-*-*-* End angular project *-*-*-*-*-*-*-*-*-*-*-->
