<!-- Breadcrumb -->
<section class="py-5 w-100 bg-white">
  <div class="container">
    <div
      class="bg-light mb-4 height-300 w-100 d-flex justify-content-center align-items-center flex-column breadcrumb-content">
      <div class="fs-4 fw-medium text-center mb-2">
        Shop
      </div>
      <div class="d-flex justify-content-center align-items-center fw-medium">
        <a routerLink="/home" class="text-decoration-none text-dark mx-1">
          Home
        </a>
        <div class="mx-2">
          <i class="bi bi-dash-lg"></i>
        </div>
        <a routerLink="/shop" class="text-decoration-none text-theme mx-1">
          Shop
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Shop -->
<section class="pb-5 w-100 bg-white">
  <div class="container">

    <div class="row">

      <div class="col-lg-8">

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-07.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-02">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-08.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-03">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-09.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-03">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-10.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-03">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-11.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-03">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-12.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-03">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-13.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-03">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-14.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-03">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-15.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-03">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-16.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-03">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-17.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-03">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

          <div class="p-3 background-effect">
            <div class="mb-3">
              <div class="position-relative overflow-hidden">
                <img src="/shop/product-18.jpg" class="img-fluid object-fit-cover height-350 w-100" alt="product-03">
                <div class="position-absolute bottom-0 button-visible">
                  <div class="w-100 d-flex justify-content-start align-items-end ps-3 pb-3">
                    <a href="javascript:void(0)" class="btn btn-theme mx-1">
                      <i class="bi bi-cart"></i>
                    </a>
                    <a routerLink="/single-product" class="btn btn-theme mx-1">
                      <i class="bi bi-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="fs-6 fw-bold truncate-to-1-line px-3">
              Aopo Designs Woolrich Klettersack Backpack
            </div>
            <div class="text-secondary mt-2 px-3 pb-3">
              $122.00
            </div>
          </div>

        </div>

        <div class="p-3 w-100 border-top border-bottom mt-5">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <nav aria-label="Page navigation example" class="front-pagination">
                <div class="pagination">
                  <div class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      1
                    </a>
                  </div>
                  <div class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      2
                    </a>
                  </div>
                  <div class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      3
                    </a>
                  </div>
                  <div class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="bi bi-chevron-right"></i>
                    </a>
                  </div>
                </div>
              </nav>
            </div>
            <div class="text-light-gray">
              1 - 30 of 30
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4">

        <div class="mb-3">
          <div class="position-relative">
            <input type="text" name="keyword" class="form-control ps-5" required autocomplete="new-keyword"
                   placeholder="Search here anything">
            <div class="position-absolute top-50 start-0 translate-middle-y ps-3">
              <i class="bi bi-search text-light-gray"></i>
            </div>
          </div>
        </div>

        <div class="border bg-white px-3 mb-3">
          <div class="fs-5 fw-medium mt-3"> Price range</div>
          <div class="row">
            <div class="col-6 p-3">
              <input type="text" name="min-price" class="form-control" required autocomplete="new-min-price" value="0"
                     min="0">
            </div>
            <div class="col-6 p-3">
              <input type="text" name="max-price" class="form-control" required autocomplete="new-max-price"
                     value="100000" max="100000">
            </div>
          </div>
        </div>

        <div class="border bg-white px-4 pb-2 mb-3">
          <div class="fs-5 fw-medium mt-3"> Availability</div>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            In Stock
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            Out of Stock
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            Coming Soon
          </label>
        </div>

        <div class="border bg-white px-4 pb-2 mb-3">
          <div class="fs-5 fw-medium mt-3"> Categories</div>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Male </span> <span> (02) </span>
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Female </span> <span> (05) </span>
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Children </span> <span> (10) </span>
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Accessories </span> <span> (03) </span>
          </label>
        </div>

        <div class="border bg-white px-4 pb-2 mb-3">
          <div class="fs-5 fw-medium mt-3"> Subcategories</div>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Shirt </span> <span> (02) </span>
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Pant </span> <span> (05) </span>
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> T-shirt </span> <span> (10) </span>
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Coat </span> <span> (03) </span>
          </label>
        </div>

        <div class="border bg-white px-4 pb-2 mb-3">
          <div class="fs-5 fw-medium mt-3"> Color</div>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Red </span> <span> (02) </span>
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Blue </span> <span> (05) </span>
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Green </span> <span> (10) </span>
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Yellow </span> <span> (03) </span>
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> White </span> <span> (03) </span>
          </label>
          <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
            <span> Black </span> <span> (03) </span>
          </label>
        </div>

        <div class="border bg-white px-4 mb-3">
          <div class="fs-5 fw-medium my-3"> Size</div>
          <div class="mb-3">
            <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
              <span> L </span> <span> (03) </span>
            </label>
            <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
              <span> M </span> <span> (07) </span>
            </label>
            <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
              <span> S </span> <span> (12) </span>
            </label>
            <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
              <span> XL </span> <span> (09) </span>
            </label>
            <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
              <span> XS </span> <span> (02) </span>
            </label>
            <label class="cursor-pointer text-light-gray-hover d-flex justify-content-between align-items-center my-3">
              <span> XXL </span> <span> (08) </span>
            </label>
          </div>
        </div>

        <div class="border bg-white px-4 mb-3">
          <div class="fs-5 fw-medium my-3"> Tags</div>
          <div class="mb-3">
            <label class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
              Shirt
            </label>
            <label class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
              Pant
            </label>
            <label class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
              T-shirt
            </label>
            <label class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
              Coat
            </label>
            <label class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
              Accessories
            </label>
            <label class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
              Male
            </label>
            <label class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
              Female
            </label>
            <label class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
              Kid's
            </label>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
