<div class="sticky-top z-0" style="top: 90px;">

  <div class="mb-3">
    <div class="position-relative">
      <input type="text" name="keyword" class="form-control ps-5" required autocomplete="new-keyword"
             placeholder="Search here anything">
      <div class="position-absolute top-50 start-0 translate-middle-y ps-3">
        <i class="bi bi-search text-light-gray"></i>
      </div>
    </div>
  </div>

  <div class="border bg-white px-4 pb-2 mb-3">
    <div class="fs-5 fw-medium mt-3"> Categories </div>
    <a href="javascript:void(0)"
       class="text-decoration-none text-light-gray-hover d-flex justify-content-between align-items-center my-3">
      <span> Business Advise </span> <span> (02) </span>
    </a>
    <a href="javascript:void(0)"
       class="text-decoration-none text-light-gray-hover d-flex justify-content-between align-items-center my-3">
      <span> Web Design </span> <span> (05) </span>
    </a>
    <a href="javascript:void(0)"
       class="text-decoration-none text-light-gray-hover d-flex justify-content-between align-items-center my-3">
      <span> Development </span> <span> (10) </span>
    </a>
    <a href="javascript:void(0)"
       class="text-decoration-none text-light-gray-hover d-flex justify-content-between align-items-center my-3">
      <span> Video Editing </span> <span> (03) </span>
    </a>
    <a href="javascript:void(0)"
       class="text-decoration-none text-light-gray-hover d-flex justify-content-between align-items-center my-3">
      <span> UI/UX Design </span> <span> (07) </span>
    </a>
  </div>

  <div class="border bg-white px-4 mb-3">
    <div class="fs-5 fw-medium my-3"> Photo Gallery </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-2 row-cols-lg-3 px-2 mb-3">
      <div class="p-1">
        <a href="javascript:void(0)" class="p-1">
          <img src="/blogs/blog-05.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
        </a>
      </div>
      <div class="p-1">
        <a href="javascript:void(0)" class="p-1">
          <img src="/blogs/blog-06.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
        </a>
      </div>
      <div class="p-1">
        <a href="javascript:void(0)" class="p-1">
          <img src="/blogs/blog-07.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
        </a>
      </div>
      <div class="p-1">
        <a href="javascript:void(0)" class="p-1">
          <img src="/blogs/blog-08.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
        </a>
      </div>
      <div class="p-1">
        <a href="javascript:void(0)" class="p-1">
          <img src="/blogs/blog-09.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
        </a>
      </div>
      <div class="p-1">
        <a href="javascript:void(0)" class="p-1">
          <img src="/blogs/blog-10.jpg" class="img-fluid object-fit-cover w-100 height-100" alt="blog 05">
        </a>
      </div>
    </div>
  </div>

  <div class="border bg-white px-4 mb-3">
    <div class="fs-5 fw-medium my-3"> Tags </div>
    <div class="mb-3">
      <a href="javascript:void(0)" class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
        Business Advise
      </a>
      <a href="javascript:void(0)" class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
        Web Design
      </a>
      <a href="javascript:void(0)" class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
        Development
      </a>
      <a href="javascript:void(0)" class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
        Video Editing
      </a>
      <a href="javascript:void(0)" class="btn btn-outline-gray-theme rounded-0 mb-1 me-1">
        UI/UX Design
      </a>
    </div>
  </div>

</div>
