<!-- Breadcrumb -->
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6 px-4 pt-3">
      <a href="javascript:void(0)" class="text-decoration-none text-secondary fs-5">
        Calendar
      </a>
    </div>
    <div class="col-md-6 px-4 pt-3 d-flex justify-content-md-end align-items-center">
      <a href="javascript:void(0)" class="text-decoration-none text-secondary">
        Dashboard
      </a>
      <div class="mx-2">
        <i class="bi bi-chevron-right"></i>
      </div>
      <a href="javascript:void(0)" class="text-decoration-none text-theme">
        Calendar
      </a>
    </div>
  </div>
</div>

<!-- calendar -->
<section class="w-100 mt-3">
  <div class="container-fluid">
    <div class="row px-3">
      <div class="col-lg-3 px-2">
        <div class="p-4 w-100 border bg-white height-calc-170 scrollbar">
            <div class="mb-3 w-100">
              <button type="button" class="btn btn-theme w-100 rounded-3">
                Event
              </button>
            </div>
            <div class="w-100">
              <div class="mb-3">
                <label for="view-all" class="form-label d-block cursor-pointer">
                  <input id="view-all" type="radio" class="form-radio" name="event" checked>
                  <span class="ms-1"> View all </span>
                </label>
              </div>
              <div class="mb-3">
                <label for="personal" class="form-label d-block cursor-pointer">
                  <input id="personal" type="radio" class="form-radio" name="event">
                  <span class="ms-1"> Personal </span>
                </label>
              </div>
              <div class="mb-3">
                <label for="business" class="form-label d-block cursor-pointer">
                  <input id="business" type="radio" class="form-radio" name="event">
                  <span class="ms-1"> Business </span>
                </label>
              </div>
              <div class="mb-3">
                <label for="family" class="form-label d-block cursor-pointer">
                  <input id="family" type="radio" class="form-radio" name="event">
                  <span class="ms-1"> Family </span>
                </label>
              </div>
              <div class="mb-3">
                <label for="holiday" class="form-label d-block cursor-pointer">
                  <input id="holiday" type="radio" class="form-radio" name="event">
                  <span class="ms-1"> Holiday </span>
                </label>
              </div>
              <div class="mb-3">
                <label for="etc" class="form-label d-block cursor-pointer">
                  <input id="etc" type="radio" class="form-radio" name="event">
                  <span class="ms-1"> ETC </span>
                </label>
              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="w-100 bg-white border px-1 height-calc-220 scrollbar">
          <div class="px-2">
            <div class="row border-bottom fw-bold p-2">
              <div class="col-7">
                Date ( Title )
              </div>
              <div class="col-5 text-end">
                Action
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                01, Jan, 1999 ( Personal )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                03, Jan, 1999 ( Business )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                05, Jan, 1999 ( Family )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                11, Jan, 1999 ( Holiday )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-bold p-2">
              <div class="col-7">
                Date ( Title )
              </div>
              <div class="col-5 text-end">
                Action
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                01, Jan, 1999 ( Personal )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                03, Jan, 1999 ( Business )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                05, Jan, 1999 ( Family )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                11, Jan, 1999 ( Holiday )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-bold p-2">
              <div class="col-7">
                Date ( Title )
              </div>
              <div class="col-5 text-end">
                Action
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                01, Jan, 1999 ( Personal )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                03, Jan, 1999 ( Business )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                05, Jan, 1999 ( Family )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                11, Jan, 1999 ( Holiday )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-bold p-2">
              <div class="col-7">
                Date ( Title )
              </div>
              <div class="col-5 text-end">
                Action
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                01, Jan, 1999 ( Personal )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                03, Jan, 1999 ( Business )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                05, Jan, 1999 ( Family )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                11, Jan, 1999 ( Holiday )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-bold p-2">
              <div class="col-7">
                Date ( Title )
              </div>
              <div class="col-5 text-end">
                Action
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                01, Jan, 1999 ( Personal )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                03, Jan, 1999 ( Business )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                05, Jan, 1999 ( Family )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
            <div class="row border-bottom fw-medium p-2">
              <div class="col-7">
                11, Jan, 1999 ( Holiday )
              </div>
              <div class="col-5 text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-secondary mx-2">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0)" class="text-decoration-none text-danger mx-2">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="height-50 d-flex justify-content-between align-items-center">
          <div class="px-2 fw-bold">
            91 – 100 of 100
          </div>
          <nav aria-label="Page navigation example" class="admin-pagination">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item mb-0">
                <a class="page-link" href="javascript:void(0)">
                  <i class="bi bi-chevron-left"></i>
                </a>
              </li>
              <li class="page-item mb-0">
                <a class="page-link" href="javascript:void(0)">
                  1
                </a>
              </li>
              <li class="page-item mb-0">
                <a class="page-link" href="javascript:void(0)">
                  2
                </a>
              </li>
              <li class="page-item mb-0">
                <a class="page-link" href="javascript:void(0)">
                  3
                </a>
              </li>
              <li class="page-item mb-0">
                <a class="page-link" href="javascript:void(0)">
                  <i class="bi bi-chevron-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </div>
</section>
