<section class="w-100 bg-white" id="resume">
  <div class="container">
    <div class="height-calc-70 d-flex justify-content-center align-items-center">

      <div>
        <div class="fs-1 mb-3">HI, I'M Mahi Bashar Akash!</div>
        <div class="fs-6 text-secondary mb-3 col-lg-6">
          I'm a passionate Web Development with a mission to create delightful and intuitive digital experiences.
          With a strong foundation in development principles and a keen eye for detail, I specialize in translating
          complex ideas into user-friendly interfaces that captivate and engage.
        </div>
        <div class="d-flex justify-content-start align-items-center gap-3">
          <button type="button" class="btn btn-theme px-5 py-3">
            Download CV <i class="bi bi-download ms-2"></i>
          </button>
          <button type="button" class="btn btn-none py-1">
            <span class="d-flex justify-content-center align-items-center">
              <span class="d-flex justify-content-center align-items-center rounded-circle width-45 height-45 bg-theme">
                <i class="bi bi-play-fill text-white fs-4"></i>
              </span>
              <span class="ms-2">
                Watch The Video
              </span>
            </span>
          </button>
        </div>
      </div>

    </div>
  </div>
</section>
